@import './common/var.scss';
@import '../../../node_modules/element-ui/packages/theme-chalk/src/input.scss';
@import '../../../node_modules/element-ui/packages/theme-chalk/src/tag.scss';
@import '../../../node_modules/element-ui/packages/theme-chalk/src/select.scss';
@import '../../../node_modules/element-ui/packages/theme-chalk/src/option.scss';
@import '../../../node_modules/element-ui/packages/theme-chalk/src/checkbox.scss';
@import './infinite-button.scss';
$popperWidth : 424px;

.infinite-select-tags {
  .el-select__tags {
    display: none;
  }

  .el-input--prefix {
    right: 0;

    .el-input__inner {
      width: $popperWidth;
      padding-left: 15px;
    }
  }

  .infinite-selected {
    display: flex;
    align-items: center;
    width: calc(#{$popperWidth} - 38px);
    height: 100%;
    position: relative;
    overflow: hidden;

    .infinite-selected-tag {
      display: flex;

      &-prefix {
        font-size: 12px;
        height: 24px;
        line-height: 22px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .el-tag {
        width: 80px;
        text-align: center;
        border-radius: 4px;
        background: #f5f7fa;
        border: none;
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.last-tag {
          width: auto;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.infinite-select-popover {
  padding: 0;
  width: $popperWidth;

  &.infinite-select-filterable {
    .el-scrollbar__view {
      position: relative;
      padding-top: 52px;
    }

    .infinite-select-search {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      padding: 10px 12px;
      box-sizing: border-box;

      &.is-shadow {
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
      }

      &+.infinite-select-group {
        padding-top: 0;
      }

      .el-input__inner {
        width: 100%;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 15px;
      }
    }
  }

  .infinite-select-group {
    line-height: initial;
    max-height: 200px;
    overflow: auto;

    &-box {
      flex-wrap: wrap;
      align-items: center;
      padding: 0 12px;
      box-sizing: border-box;

      &:hover {
        background-color: transparent;
      }

      .el-checkbox {
        display: flex;
        flex: 1;
        padding: 8px 0;
        align-items: center;
      }

      .el-checkbox__label {
        overflow: hidden;

        &:hover {
          color: $--color-primary;
        }

        .el-tooltip {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .is-disabled {
        .el-checkbox__label {
          &:hover {
            color: $--color-text-placeholder;
          }
        }
      }
    }

  }

  // 一级节点下面的递归组件样式
  .infinite-select-group-level-1 {
    >.infinite-select-group-box {
      .infinite-select-group {
        display: flex;
        flex-wrap: wrap;

        &-box {
          width: 33.33%;
          min-width: 33.33%;
          box-sizing: border-box;

        }

        .exist-children {
          width: 100%;
          min-width: 100%;
        }


      }
    }

  }


  .infinite-select-button {
    border-top: 1px solid#EBEEF5;
    height: 46px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.el-select-dropdown.is-multiple .el-select-dropdown__item {
    display: none;
  }

  .el-select-dropdown__list {
    padding: 0;
  }

  .el-scrollbar__bar {
    display: none;
  }

  .el-select-dropdown__wrap {
    max-height: none;
  }

  .el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: $--border-color-base;
  }


  .is-checked {
    .el-checkbox__label {
      color: #606266;
    }

    .el-checkbox__inner {
      border-color: $--color-primary;
    }

    .el-checkbox__input.is-focus {
      .el-checkbox__inner {
        border-color: $--color-primary;
      }
    }
  }



  .search-before-component {
    padding: 0 12px 10px;
    text-align: center;
  }
}

.infinite-select-tags-tooltip-popper {
  pointer-events: none;
}
