@import './common/var.scss';
@import '../../../node_modules/element-ui/packages/theme-chalk/src/table.scss';

.infinite-table-operation-btn{
    .infinite-button{
      &+.infinite-button{
        margin-left: 5px;
      }
    }
}
.infinite-table{
  &.el-table thead{
    color: #606266;
    font-weight: 700;
  }
  &-column-tooltip{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    >span{
      white-space: nowrap;
      >*{
        display: inline;
      }
    }
  }
}

.infinite-table-column-tooltip-popper{
  transition: initial !important;
  white-space: break-spaces;
  max-width: 200px;
  max-height:200px ;
  box-sizing: border-box;
  &-container{
    max-height:180px ;
    overflow-y: auto;
  }
}
