@import './common/var.scss';
@import '../../../node_modules/element-ui/packages/theme-chalk/src/table.scss';

.infinite-table-operation-btn{
    .infinite-button{
      &+.infinite-button{
        margin-left: 5px;
      }
    }
<<<<<<< Updated upstream
}
.infinite-table{
  &.el-table thead{
    color: #606266;
    font-weight: 700;
  }
}
=======
  }
>>>>>>> Stashed changes
