@import '../../../node_modules/element-ui/packages/theme-chalk/src/step.scss';

.infinite-step{
  &.--horizontal{
    white-space: normal;
  };
  &.infinite-step-wait, &.infinite-step-finish {
    opacity: 0.6;
  };
  &.infinite-step-process {
    opacity: 1;
  };
};

.infinite-step--horizontal {
  white-space: normal;
};

.infinite-steps--horizontal {
  white-space: normal;
};

.infinite-step__head {
  display: flex;
  align-items: center;
  opacity: 0.8;
  .infinite-step__line{
    flex: 1;
    height: 2px;
    margin-right: 4px;
  }
  &.is-process{
    .el-step__icon {
      background-color: var(--themeColor);
      border-color: var(--themeColor);
      color: #fff;
    };
  };
  &.is-finish,&.is-success {
    color: var(--themeColor);
    .infinite-step__line {
      background-color: var(--themeColor) !important;
      border-color: var(--themeColor);
    };
    .el-step_icon_finish{
      font-size: 24px;
      >i {
        color: var(--themeColor);
      };
    }
  }
  &.is-process, &.is-finish {
    opacity: 1;
  };
}
.infinite-step-last__line {
  display: none;
}

.infinite-step__main{
  max-width: calc(9em + 30px);
};

.infinite-step__description {
  margin-left: 29px;
}

.infinite-step_title {
  display: inline-block;
  margin:0 4px;
  &.is-process {
    font-weight: 600;
  }
};