@import './common/var.scss';
@import './infinite-button.scss';
@import '../../../node_modules/element-ui/packages/theme-chalk/src/tree.scss';
@import '../../../node_modules/element-ui/packages/theme-chalk/src/message.scss';
@import '../../../node_modules/element-ui/packages/theme-chalk/src/notification.scss';

.tree-container {
  width: 100%;
  max-width: 700px;
  max-height: 60vh;
  padding: 2em;
  overflow: auto;

  /deep/#node-input {
    height: 25px;
  }

  /deep/.el-tree-node__content {
    height: 100%;
  }

  /deep/.same-node-error {
    margin-top: 4px;
    margin-bottom: 5px;
    font-size: 12px;
    color: red;
  }

  // 高亮显示按钮
  .is-current {
    &>.el-tree-node__content {
      .com-tree-btn {
        opacity: 1;
      }
    }
  }

  // 悬浮显示按钮
  .el-tree-node__content {
    &:hover {
      .com-tree-btn {
        opacity: 1;
      }
    }
  }

  .com-tree-btn {
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.1s;

    .el-button {
      transform: scale(0.7); // 缩小按钮

      &+.el-button {
        margin-left: -1px;
      }
    }
  }

  .btn-text {
    font-size: 12px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.tree /deep/.el-tree-node .el-tree-node__content {
  &:hover .ly-visible {
    visibility: visible;
  }
}

.el-tree .el-tree-node {
  position: relative;
}
