@import './common/var.scss';
@import './mixins/mixins.scss';
@import '../../../node_modules/element-ui/packages/theme-chalk/src/button.scss';

.infinite-button{
  &.el-button--medium{
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
  }
  &.el-button--small{
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
  }
  &.el-button--mini{
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 3px;
  }
  &.el-button--text{
    padding:8px;
  }
}

