@import './common/var.scss';
@import '../../../node_modules/element-ui/packages/theme-chalk/src/step.scss';

.infinite-step {
  .is-process {
    color: $--color-primary;

    .el-step__head,
    &.el-step__title {
      color: $--color-primary;
    }

    .el-step__icon.is-text {
      border-color: $--color-primary;
    }
  }
}
