@import './common/var.scss';
@import '../../../node_modules/element-ui/packages/theme-chalk/src/steps.scss';

.infinite-steps-container {
  &.el-steps--simple {
    background: #f5f7fa;
  }
  /deep/.el-steps--horizontal{
    white-space: normal;
  };
  &.infinite-steps-step-horizontal {
    /deep/.el-step {
      &.is-horizontal {
        display: flex;
        .el-step__head {
          position: initial;
          width: auto;
          .el-step__line {
            top: 11px;
            left: 22px;
            right: 0;
            z-index: -1;
          }
          .el-step__icon {
            &.is-text {
              position: relative;
              margin-right: 10px;
              &::before {
                content: '';
                position: absolute;
                top: 0;
                right: -12px;
                width: 10px;
                height: 100%;
                background: #fff;
              }
            }
          }
        }
        .el-step__main {
          transform: translateY(-7px);
          .el-step__title {
            display: inline-block;
            background: #fff;
            padding-right: 10px;
          }
        }
      }
    }
  }
  &.infinite-steps-step-vertical {
    /deep/.el-step {
      &.is-vertical {
        display: inline-block;
        .el-step__head {
          position: initial;
          .el-step__line {
            z-index: -1;
          }
        }
        .el-step__main {
          padding: 0;
          background: #fff;
          .el-step__title {
            padding-bottom: 0;
            line-height: 38px;
          }
          .el-step__description {
            padding-bottom: 5px;
          }
        }
      }
    }
  }
};
