
.btn2 {
  position: fixed;
  width: 100px;
  height: 40px;
  line-height: 40px;
  right: 0;
  bottom: 50%;
  cursor: pointer;
  z-index: 100000;
}

.btn3 {
  position: fixed;
  width: 100px;
  height: 40px;
  line-height: 40px;
  left: 0;
  top: 10%;
  cursor: pointer;
  z-index: 100000;
}

.btn4 {
  position: fixed;
  width: 100px;
  height: 40px;
  line-height: 40px;
  left: 0;
  top: calc( 10% + 60px);
  cursor: pointer;
  z-index: 100000;
}

.btn5 {
  position: fixed;
  width: 100px;
  height: 40px;
  line-height: 40px;
  left: 0;
  top: calc( 10% + 120px);
  cursor: pointer;
  z-index: 100000;
}

.btn6 {
  position: fixed;
  width: 100px;
  height: 40px;
  line-height: 40px;
  left: 0;
  top: calc( 10% + 180px);
  cursor: pointer;
  z-index: 100000;
}

.btn7 {
  position: fixed;
  width: 100px;
  height: 40px;
  line-height: 40px;
  left: 0;
  top: calc( 10% + 240px);
  cursor: pointer;
  z-index: 100000;
}

.btn8 {
  position: fixed;
  width: 100px;
  height: 40px;
  line-height: 40px;
  left: 0;
  top: calc( 10% + 300px);
  cursor: pointer;
  z-index: 100000;
}

.btn9 {
  position: fixed;
  width: 100px;
  height: 40px;
  line-height: 40px;
  left: 0;
  top: calc( 10% + 360px);
  cursor: pointer;
  z-index: 100000;
}

.btn10 {
  position: fixed;
  width: 100px;
  height: 40px;
  line-height: 40px;
  left: 0;
  top: calc( 10% + 420px);
  cursor: pointer;
  z-index: 100000;
}

.btn11 {
  position: fixed;
  width: 100px;
  height: 40px;
  line-height: 40px;
  right: 0;
  top: calc( 10%);
  cursor: pointer;
  z-index: 100000;
}

.btn12 {
  position: fixed;
  width: 100px;
  height: 40px;
  line-height: 40px;
  right: 0;
  top: calc( 10% + 60px);
  cursor: pointer;
  z-index: 100000;
}

.btn13 {
  position: fixed;
  width: 100px;
  height: 40px;
  line-height: 40px;
  right: 0;
  top: calc( 10% + 120px);
  cursor: pointer;
  z-index: 100000;
}

.btn14 {
  position: fixed;
  width: 100px;
  height: 40px;
  line-height: 40px;
  right: 0;
  top: calc( 10% + 180px);
  cursor: pointer;
  z-index: 100000;
}

.btn15 {
  position: fixed;
  width: 100px;
  height: 40px;
  line-height: 40px;
  right: 0;
  top: calc( 10% + 240px);
  cursor: pointer;
  z-index: 100000;
}

.btn16 {
  position: fixed;
  width: 100px;
  height: 40px;
  line-height: 40px;
  right: 0;
  top: calc( 10% + 300px);
  cursor: pointer;
  z-index: 100000;
}