@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 600px;
  }
}
@keyframes opacity100 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showTop {
  from {
    opacity: 0.5;
    transform: translateY(380px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
// 感叹号
@keyframes showMask {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(2);
  }
}
@keyframes endTop {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: translateY(-950px);
  }
}
@keyframes showCode {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    transform: translateX(367px);
    opacity: 1;
  }
}
@keyframes codeMask {
  0% {
    transform: translateX(0);
    background-color: rgba(255, 255, 255, 0.3);
  }

  100% {
    transform: translateX(367px);
    background-color: rgba(255, 255, 255, 0);
  }
}
// 鼠标移动后 图标恢复100%
@keyframes endMask {
  from {
    transform: translate(0) scale(2);
    opacity: 1;
  }

  to {
    transform: translate(20px, 950px) scale(1);
    opacity: 1;
  }
}
@keyframes showCard {
  0% {
    transform: translateX(0px) ;
  }
  
  100% {
    transform: translateX(-401px);
  }
}
@keyframes cardLine {
  0% {
    left: 0px;
    opacity: 0.5;
  }
  10% {
    opacity: 1;
    left: -60px;
  }

  70% {
    opacity: 1;
    left: -60px;
  }

  100% {
    left: 0px;
    opacity: 0;
  }
}
@keyframes cardLineBox {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// 卡片线进入
@keyframes fadeInBox {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hideLine {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes showSecLine {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
