@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 600px;
  }
}
@keyframes opacity100 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showTop {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
// 感叹号
@keyframes showMask {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(2);
  }
}
@keyframes endTop {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-750px);
  }
}
@keyframes showCode {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .3;
  }

  100% {
    transform: translateX(367px);
    opacity: 1;
  }
}
@keyframes codeMask {
  0% {
      transform: translateX(0);
      background-color: rgba(255, 255, 255, 0.2);
  }

  100% {
    transform: translateX(367px);
    background-color: rgba(255, 255, 255, 0);
  }
}
// 鼠标移动后 图标恢复100%
@keyframes endMask {
  from {
    transform: scale(2);
    opacity: 1;
  }

  to {
    left: 493px;
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes showCard {
  0% {
    transform: translateX(0px) scale(0.5);
  }
  20% {
    transform: translateX(0px) scale(1);
  }
  50% {
    transform: translateX(0px) scale(1);
  }
  100% {
    transform: translateX(-401px);
  }
}
@keyframes cardLine {
  0% {
    left: 0px;
    opacity: 0;
  }
  10% {
    opacity: 1;
    left: -60px;
  }

  50% {
    opacity: 1;
    left: -60px;
  }

  100% {
    left: 0px;
    opacity: 0;
  }
}
@keyframes cardLineBox {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
