.anime-container {
  user-select: none;

  .img_connect {
    opacity: 0;
    position: fixed;
    pointer-events: none;
    box-shadow: 0px 0.9375vw 5.41667vw #dfe5f6;
  }

  .img_connect-anime_start {
    width: 650.11px !important;
    height: 450px !important;
    left: 50% !important;
    top: 50% !important;
    margin-top: 7.09vw;
    transform: translate(-50%, -50%);
  }

  // 替代滚动
  .replace_scroll {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden auto;
    opacity: 0;

    &-placeholder {
      height: 400vh;
    }
  }

  // 画布动画
  .anime-canvas-anime_start {
    transform: translateY(-150vh);
  }

  // 画布
  .anime-canvas {
    height: 100%;
    background: #f3f7fe;
    overflow: hidden;
    transition: all 0.8s;

    // 头部文案动画 start
    .header_text {
      position: absolute;
      width: 100%;
      padding-top: 130px;
      text-align: center;
      transition: all 0.8s;
      z-index: 1;

      h1 {
        margin: 0 0 32px;
        font-size: 60px;
      }

      p {
        color: rgba(34, 34, 34, 0.6);
        font-size: 20px;
        line-height: 32px;
        white-space: break-spaces;
      }
    }

    .header_text-anime_start {
      transform: translateY(-100vh);
    }

    // 头部文案动画 end

    // 组件视图区域 start
    .component_view {
      width: 85%;
      height: 100vh;
      position: relative;
      z-index: 1;
      margin: 0 auto;
      box-sizing: border-box;
      text-align: center;

      &-container {
        position: relative;
        padding-bottom: calc(100% * 2028 / 3752);
        top: 50%;
        transform: translateY(-50%);
      }

      &-notebook {
        width: 4080px;
        position: fixed;
        left: 50%;
        top: 50%;
        transition: all 1s;
        transform: translate(-50%, 90vh);
      }

      .component_view-notebook-anime_start {
        transform: translate(-50%, -50%);
        width: 85%;
      }

      &-imgs_padding {
        padding: 3.4% 15.5% 7.47%;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
      }

      &-imgs-linear_gradient {
        height: 100%;
        position: relative;

        &::before {
          content: "";
          width: 100%;
          height: 24%;
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: all 0.8s;
          opacity: 0;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
          z-index: 1;
          pointer-events: none;
        }
      }

      // 图片集合动画完成后
      .imgs_animed {
        &::before {
          opacity: 1;
        }

        .imgs_container-table {
          &-tr {
            &:nth-child(n + 2) {
              opacity: 1;
            }

            &-td {
              img {
                transition: inherit;
              }
            }
          }
        }
      }

      &-imgs_container {
        height: 100%;
        pointer-events: none;
        scrollbar-width: none;
        /* firefox */
        -ms-overflow-style: none;

        /* IE 10+ */
        &::-webkit-scrollbar {
          display: none;
        }

        .imgs_container-table {
          width: 100%;
          padding-top: 1%;

          &-tr {
            display: flex;
            padding: 0 1%;
            transition: all 0.8s;

            &:nth-child(7) {
              padding-bottom: 4vw;
            }

            &:nth-child(n + 2) {
              opacity: 0;
            }

            &+.imgs_container-table-tr {
              margin-top: -7px;
            }

            &.imgs-col_5 {
              .imgs_container-table-tr-td:nth-child(1) {
                width: 18.4%;
              }

              .imgs_container-table-tr-td:nth-child(2) {
                width: 24.1%;
              }

              .imgs_container-table-tr-td:nth-child(3) {
                width: 23.3%;
              }

              .imgs_container-table-tr-td:nth-child(4) {
                width: 15.9%;
              }

              .imgs_container-table-tr-td:nth-child(5) {
                width: 18.3%;
              }
            }

            &.imgs-col_3 {
              .imgs_container-table-tr-td:nth-child(1) {
                width: 24.14%;
              }

              .imgs_container-table-tr-td:nth-child(2) {
                width: 40.08%;
              }

              .imgs_container-table-tr-td:nth-child(3) {
                width: 35.78%;
              }
            }

            &-td {
              padding: 1%;
              box-sizing: border-box;
              position: relative;
              vertical-align: top;

              img {
                position: relative;
                width: 100%;
                transition: all 1s;
                transform-origin: 0 0;
                box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
                border-radius: 12px;

                +img {
                  margin-top: calc(0.9vw - 4px);
                }
              }

              .imgs_1,
              .imgs_5,
              .imgs_16 {
                transition-duration: 1.2s;
              }

              .imgs_7 {
                width: 35.4vw;
              }

              .imgs_18,
              .imgs_19 {
                width: 23vw;
              }

              .imgs_23 {
                width: 11.6vw;
                left: 5.1vw;
              }

              .imgs_24 {
                width: 32.4vw;
                left: 10.3vw;
              }
            }
          }
        }

        .table_imgs_position {
          $start_position_x: -28vw;
          $start_position_y: 13vw;

          // 第一列
          .imgs_1 {
            transform: translate($start_position_x, $start_position_y) scale(2);
          }

          .imgs_5 {
            transform: translate($start_position_x, $start_position_y + 19) scale(2);
          }

          // 第二列
          .imgs_2 {
            transform: translate($start_position_x + 11, $start_position_y) scale(2);
          }

          .imgs_6 {
            transform: translate($start_position_x + 11,
                $start_position_y + 10.4) scale(2);
          }

          .imgs_7 {
            transform: translate($start_position_x + 11,
                $start_position_y + 24.4) scale(2);
          }

          // 第三列
          .imgs_3 {
            transform: translate($start_position_x + 25, $start_position_y) scale(2);
          }

          .imgs_9 {
            transform: translate($start_position_x + 25, $start_position_y + 7) scale(2);
          }

          .imgs_10 {
            transform: translate($start_position_x + 25, $start_position_y + 19) scale(2);
          }

          // 第四列
          .imgs_12 {
            transform: translate($start_position_x + 38.5, $start_position_y) scale(2);
          }

          .imgs_13 {
            transform: translate($start_position_x + 38.5,
                $start_position_y + 14.4) scale(2);
          }

          .imgs_15 {
            transform: translate($start_position_x + 47.5, $start_position_y) scale(2);
          }

          .imgs_16 {
            transform: translate($start_position_x + 47.5,
                $start_position_y + +16.7) scale(2);
          }
        }
      }
    }

    // 组件视图区域 end
  }
}
