@import "./animation.scss";

.flex-alc-jcc {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-alc-jcc($flex: flex, $alc: center, $jcc: center) {
  display: $flex;
  align-items: $alc;
  justify-content: $jcc;
}
@mixin flex-width($width: 1) {
  flex: $width
}
.header-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  color: #222;
  background: #fff;
  z-index: 9999;
  transition: all .5s;
  @include flex-alc-jcc();
  &-show {
    transform: translateY(0);
  }
  &-hide {
    transform: translateY(-100%);
  }
  &-logo {
    @include flex-alc-jcc();
    @include flex-width(auto);
    height: 100%;
    &-img {
      width: 180px;
      // height: 100%;
    }
  }
  &-tab {
    @include flex-alc-jcc();
    @include flex-width(none);
    height: 100%;
    &-item {
      @include flex-alc-jcc();
      width: 90px;
      height: 100%;
      font-size: 16px;
      cursor: pointer;
    }
  }
  &-menu {
    @include flex-alc-jcc();
    @include flex-width(auto);
    height: 100%;
    font-size: 24px;
    &-out-icon {
      
    }
  }
  &-mask {
    &-show {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba($color: #000000, $alpha: 0.4);
    }
  }
  &-inner {
    position: fixed;
    top: 0px;
    right: 0px;
    // padding: 13px 0 0 25px;
    // padding: 0px 0 0 25px;
    width: 0;
    height: 0;
    overflow: hidden;
    // transform: rotate(-22deg);
    // transform-origin: 0 0;
    // transition: .5s;
    z-index: 5;
    &-show {
      width: 100vw;
      height: 100vh;
      // transition: .2s;
    }
    &-close {
      position: absolute;
      top: 25px;
      right: 28px;
      padding: 12px;
      font-size: 24px;
      color: #fff;
      z-index: 6;
    }
    &-bg {
      position: fixed;
      top: 25px;
      right: 28px;
      width: 0px;
      height: 0;
      border-top: 0vh solid #000;
      border-left: 0px solid transparent;
      transition: .5s;
      &-show {
        top: 0px;
        right: 0px;
        width: 426px;
        border-top: 100vh solid #000;
        border-left: 364px solid transparent;
      }
    }
    &-list {
      box-sizing: border-box;
      position: absolute;
      top: 0px;
      right: 0;
      width: 824px;
      padding-top: 270px;
      padding-left: 270px;
      line-height: 70px;
      text-align: left;
      color: #f9f9f9;
      font-weight: 700;
      transform: rotate(-18deg);
      &-li {
        margin-bottom: 60px;
        font-size: 40px;
        opacity: 0;
        transform: translateX(30px) rotate(18deg);
        transition: all .2s linear .2s;
        cursor: pointer;
        &-show {
          opacity: 1;
          transform: rotate(18deg);
        }
        &-active {
          color: #ff7c37;
        }
      }
    }
  }
}