// 第一步执行的动画组
// header
.header{
  transition: all 0.5s linear;
  opacity: 0;
  transform: translateY(400px);
  &.flow {
    transition: all 1s linear;
    transform: translateY(0px);
    opacity: 1;
    &.flow-step2{
      transform: translateY(-400px);
    }
  }
}

// 小折线图动画
.chart-line-small-step1{
  transform: translate3d(-400px, 0, 0);
  opacity: 0;
  z-index: 1;
  transition: all 1s;
  &.chart-line-small-step2 {
    transform: translateX(0px);
    opacity: 1;
    z-index: 1;
    transition: all 1s;
  }
  &.chart-line-small-step3{
    transform: translate(26px, 72px) scale(0.61846);
    opacity: 1;
    z-index: 1;
    transition: all 1s;
  }
}

// 原始状态 小柱状图动画
.chart-bar-small-step1{
  transform: translate3d(-400px, 0, 0);
  opacity: 0;
  transition: all 1s;
  z-index: 1;
  &.chart-bar-small-step2 {
    transform: translateX(0px);
    opacity: 1;
    z-index: 1;
    // transition: all 1s 0.5s;
  }
  &.chart-bar-small-step3{
    transform: translate(-106px, 72px) scale(0.61846);
    opacity: 1;
    z-index: 1;
  }
}

// 原始状态
.chart-radius-small-step1{
  transform: translate3d(400px, 0, 0);
  opacity: 0;
  transition: all 1s;
  z-index: 1;
  &.chart-radius-small-step2 {
    transform: translateX(0px);
    opacity: 1;
    transition: all 1s;
  }
  &.chart-radius-small-step3{
    transform: translate(-236px, 72px) scale(0.61846);
    opacity: 1;
    z-index: 1;
    transition: all 1s;
  }
}

.chart-line-big-step1{
  transform: translate3d(1000px, 0, 0);
  opacity: 0;
  transition: all 1s 0.8s;
  z-index: 1;
  &.chart-line-big-step2 {
    transform: translateX(0px);
    opacity: 1;
    z-index: 1;
    transition: all 1s;
  }
  &.chart-line-big-step3{
    transform: translate(-106px, -48px) scale(0.61846);
    opacity: 1;
    z-index: 1;
    transition: all 1s;
  }
}

.chart-box {
  height: 100%;
  width: 1014px;
  margin: 0 auto;
  opacity: 1;
  transition: all 0.01s linear;
  &.scale-chart-box-height-step1{
    height: 1px;
  }
}

$laptopAni-time: 1s;
//laptop 动画
.laptop-main {
  position: relative;
  transform: scale(1.98) translateY(100vh);
  transition: all $laptopAni-time linear;
  &.showlaptop-step1{
    transform: scale(1) translateY(0);
  }
}

// 内部 图片动画
.laptop {
  .desc-item, .radius, .nav, .bottom{
    opacity: 0;
    transition: all $laptopAni-time * 0.6;
    transition-delay: $laptopAni-time * 0.8;
    &.shownav-step1{
      opacity: 1;
    }
  }
}

.laptop{
  transform: scale(1) translate(0);
  transition: all 1s linear;
  &.laptop-move-left-step1{
    transform: scale(1) translate(-122px, 0);
    transition: all 1s linear;
    &.laptop-move-left-step2{
      transform: scale(1) translate(-768px, -100px)
    }
  }
}

.phone {
  opacity: 0;
  position: absolute;
  left: 50%;
  transition: all ease 1s;
  &.showphone-step1 {
    opacity: 1;
    left: calc(50% + 540px);
  }
  .phone-contain{
    transform: translateY(0%);
    transition: all 1s linear;
    &.show-blue-phone-step1{
      transform: translateY(-33.6%);
      transition: all 1s linear;
    }
    &.show-blue-phone-step2{
      transform: translateY(-67.1%);
      transition: all 1s linear;
    }
  }
}

.show-colorful{
  transform: translateY(100vh);
  transition: all linear 1s;
  &.show-colorfull-step1{
    top: 50%;
    transform: translateY(-50%);
  }
}

.laptop-container{
  transform: translateY(0);
  transition: all 1s linear;
  &.show-colorfullaotop-step1{
    transform: translateY(-33.3%);
    // transition: all 1s linear;
  }
  &.show-colorfullaotop-step2{
    // transition: all 1s linear;
    transform: translateY(-67%);
  }
}

.view-chart{
  transform: translateY(0);
  transition: all 0.5s linear;
  &.leave-step1{
    transform: translateY(-100vh)
  }
}
