@import "./demo-block-styles/index.scss";

.header-anchor {
  display: none;
}

.el-aside .el-submenu__title {
  font-weight: 600;
}

.el-row {
  margin-bottom: 20px;
}

// nav-menu start
.demo-block.demo-navMenu {
  .tac {
    text-align: center;

    .infinite-menu-vertical-demo {
      display: inline-block;
      text-align: left;

      &:not(.el-menu--collapse) {
        width: 240px;
        min-height: 400px;
      }
    }
  }
}
