/** default node_modules\element-ui\packages\theme-chalk\src\common\var.scss */
$--color-primary: #FF7635;
$--color-success: #52C41A;
$--color-warning: #FAA64B;
$--color-danger: #EF4642;
$--color-text-primary: #606266;
/* Background
-------------------------- */
$--background-color-base:#ff76351a;
$--disabled-fill-base: #FAFBFC;
@import '../../../../node_modules/element-ui/packages/theme-chalk/src/common/var.scss';
